@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">For the Emperor of mankind!</h1><br />


<table class="table table-responsive table-dark table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Legion</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Raven Guard</td>
      <td>Primarch</td>
      <td>$129.99</td>
    </tr>
    <tr>
      <td>The Dark Angels</td>
      <td>Astartes</td>
      <td>$49.99</td>
    </tr>
    <tr>
      <td>Blood Angels</td>
      <td>Astartes Captain</td>
      <td>$69.99</td>
    </tr>
  </tbody>
</table>


<p class="display-5">Welcome to Go Figure! The last site you'll need for all your Warhammer 40k figurine needs.</p>